@import 'material-symbols';
@font-face {
	font-family: 'Material Icons';
}

:root {
	--gray010: #FFFFFF;
	--gray100: #F2F4F5;
	--gray200: #E6EAED;
	--gray300: #D7DCE0;
	--gray400: #91999E;
	--gray500: #7C848A;
	--gray600: #474E52;
	--gray700: #2C3236;
	--gray800: #141414;

	--primary100: #FEF4EE;
	--primary200: #FBD9C3;
	--primary300: #FACEB1;
	--primary400: #F9C6A4;
	--primary500: #F4985B;
	--primary600: #F07727;
	--primary700: #CC6724;
	--primary800: #B35C22;

	--red100: #FFEEEE;
	--red400: #FDA6A2;
	--red500: #FB5E56;
	--red800: #BA261E;

	--green600: #2ABD4F;

	--yellow600: #F5BA1A;

	--blue500: #61A5FB;
}

:root {
	--surface-surface: var(--gray010);
	--surface-surfaceDim: var(--gray100);

	--container-containerHighest: var(--gray300);
	--container-containerHigh: var(--gray200);
	--container-containerNormal: var(--gray100);
	--container-containerLow: var(--gray010);

	--onGeneric-onGenericVariable: var(--gray800);
	--onGeneric-onGeneric: var(--gray700);
	--onGeneric-onGenericDim: var(--gray500);
	--onGeneric-onGenericPrimary: var(--primary600);

	--primary-primaryHighest: var(--primary800);
	--primary-primaryHigh: var(--primary700);
	--primary-primaryNormal: var(--primary600);
	--primary-primaryLow: var(--primary500);
	--primary-onPrimary: var(--gray010);
	--primary-onPrimaryDim: var(--gray200);

	--primaryContainer-primaryContainerHighest: var(--primary400);
	--primaryContainer-primaryContainerHigh: var(--primary300);
	--primaryContainer-primaryContainerNormal: var(--primary200);
	--primaryContainer-primaryContainerLow: var(--primary100);
	--primaryContainer-onPrimaryContainer: var(--primary600);
	--primaryContainer-onPrimaryContainerDim: var(--primary500);

	--outline-default: var(--gray300);
	--outline-primary: var(--primary500);
	--outline-active: var(--blue500);
	--outline-error: var(--red500);

	--shadow-default: rgba(215, 220, 224, 0.48);

	--error-error: var(--red800);
	--error-onError: var(--gray010);

	--errorContainer-errorContainer: var(--red100);
	--errorContainer-onErrorContainer: var(--red800);

	--statusPositive: var(--green600);
	--statusCautionary: var(--yellow600);

	--layer-modalBackground: rgba(14, 14, 14, 0.64);
	--layer-hover: rgba(145, 153, 158, 0.16);
}

:root {
	--transition-fast: all 0.16s cubic-bezier(.35,.44,.68,1);
	--transition-normal: all 0.24s cubic-bezier(.35,.44,.68,1);
	--transition-slow: all 0.32s cubic-bezier(.35,.44,.68,1);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'wantedSans', 'wantedSans Fallback', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
h1, h2, h3, p {
	display: inline;
}

button {
	outline: none;
	border: none;
}
body {
	background-color: var(--surface-surfaceDim);
}
