.container {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  padding: 24px 16px;
  border-radius: 0 8px 8px 0;
  background-color: var(--container-containerLow);
	overflow: hidden;
	flex-shrink: 0;
}

.wrapper {
	position: relative;
	height: 100%;
}

.iconButton32, .navItem{
	transition: var(--transition-normal);
	cursor: pointer;
}

.iconButton32 {
	border-radius: 4px;
	background-color: transparent;
}

.navItem {
	padding: 12px;
	border-radius: 4px;
	background-color: transparent;
	flex-shrink: 0;
}

.navItem:hover, .iconButton32:hover {
	background-color: var(--container-containerNormal);
}

.navItemActive {
	background-color: var(--container-containerNormal);
	box-shadow: 0 0 1px 1px var(--outline-default);
}

.createAdminContainer {
	position: absolute;
	bottom: 0;
}
