.small, .medium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-normal);
}
.small:hover, .medium:hover {
  background-color: var(--layer-hover);
}

.small {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.medium {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.gray {
  background-color: var(--container-containerNormal);
}
.gray:hover {
  background-color: var(--container-containerHigh);
}