.xsmall, .small, .medium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-normal);
}
.xsmall:hover, .small:hover, .medium:hover, .active {
  background-color: var(--layer-hover);
}

.xsmall {
	width: 28px;
	height: 28px;
	border-radius: 4px;
}

.small {
  width: 32px;
  height: 32px;
	border-radius: 4px;
}

.medium {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.gray {
  background-color: var(--container-containerNormal);
}
.gray:hover, .grayActive {
	background-color: var(--container-containerHigh);
}
