.selectContainer {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid var(--outline-default);
  position: relative;
  cursor: pointer;
}

.optionContainer {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  z-index: 2;
  padding: 4px 4px;
  border: 1px solid var(--outline-default);
  border-radius: 6px;
  background-color: var(--container-containerLow);
  box-shadow: 0 0 4px 2px var(--shadow-default);
  cursor: pointer;
}

.itemContainer, .itemContainerActive {
  padding: 4px;
  border-radius: 2px;
  min-height: 32px;
  transition: all 0.28s cubic-bezier(.35,.44,.68,1);
}
.itemContainer:hover {
  background-color: var(--container-containerNormal);
}

.itemContainerActive, .itemContainerActive:hover {
  background-color: var(--container-containerHigh);
}
