.table {
  flex-shrink: 0;
  position: relative;
  border: 1px solid var(--outline-default);
  border-radius: 4px;
  overflow: auto;
}

.tableRow, .tableHeader {
  padding: 12px;
}
.tableHeader {
  position: sticky;
  top: 0;
  background-color: var(--container-containerNormal);
}

.exceptionTableContainer {
	padding: 32px;
	border: 1px solid var(--outline-default);
	border-radius: 4px;
	background-color: var(--container-containerNormal);
}

.progressRing {
	position: relative;
	opacity: 0.5;
	width: 128px;
	height: 128px;
}
