.table {
  border: 1px solid var(--outline-default);
  border-radius: 4px;
  overflow: hidden;
}

.tableBody, .tableHeader {
  padding: 12px;
}
.tableHeader {
  background-color: var(--container-containerNormal);
}